* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2 ;
    font-family: 'Lato', sans-serif;
}

.main-header {
    position: fixed;
    top: 0;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 20px 35px 0px 0px;
}

.logo-container {
    max-width: 60vw;
}

.main-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 300px;
    height: auto;
    margin: 9px 0 0 20px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 40vw;
    padding: 0 35px 0 0;
    
}

.nav-list a {
    text-decoration: none;
    color: black;
}


.main-container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.main-container-item2 {
    padding-top: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

.input-email {
    max-width: 250px;
    width: 100%;
    height: 20px;
}

.input-submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    background-color: #f1c40f;
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin: 15px 0;
    cursor: pointer;
}

.input-submit:hover {
    background-color: darkorange;
    transition-duration: 1s;
}

.main-container-item2 { 
    align-self: center;
}

.fas {
    color: darkorange;
    font-size: 50px;
}

.section-item {
    display: flex;
}

.features-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20%;
}

.features-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 125px;
    padding: 5px;
}

.features-descr>h2, p {
    margin: 0 0 0 20px;
}

.how-it-works-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}

.how-it-works-video, iframe {
    max-width: 560px;
    width: 100%;
}

.price-list {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    max-width: 870px;
    width: 100%;
    padding: 100px 0 50px 0;
}

.price-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    max-width: 270px;
    width: 100%;
}

.price-list-item h2 {
    background-color: lightgray;
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 700;
}

.price-list-item h3 {
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 20px;
}

.price-list-item ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 14px;
}

.price-list-item li {
    padding: 5px 0;
}

.price-list-item button {
    background-color: #f1c40f;
    border: none;
    margin: 10px 0;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
}


.price-list-item button:hover {
    background-color: darkorange;
    transition-duration: 1s;
}

.footer {
    background-color: #ddd;
    max-width: 870px;
    width: 100%;
    margin-top: 50px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: 14px;
}

.footer li {
    margin: 16px 10px 0px 10px;
}

.footer p {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin: 16px 10px 16px 0;
    color: #444;
}

.footer a {
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 800px) {
    .price-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}


@media screen and (max-width: 650px) {

    .main-header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        margin-top: 15px;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    
    .main-logo {
        margin: 0 0 0 20px;
    }

    .nav-list {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    .main-container-item {
        margin: 200px 0 0 0;
    }

    .main-container-item2 {
        padding-top: 100px;
    }

    .how-it-works-video {
        padding-top: 100px;
    }
}


@media screen and (max-width: 600px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: auto;
        padding: 20px 0;
    }

    .main-logo {
        margin: auto;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
    }

    .main-container-item {
        margin: 150px 0 0 0; 
    }

    .main-container-item2 {
        padding-top: 130px;
    }

    .how-it-works-video {
        padding-top: 150px;
    }

    .price-list {
        padding-top: 150px;
    }
}

@media screen and (max-width: 550px) {
    .main-container-item2 {
        text-align: center;
    }

    .section-item {
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .features-descr>h2, p {
        margin: 0;
    }

    .features-logo {
        display: none;
    }
}

@media screen and (max-width: 438px){
    .main-container-item h1 {
        text-align: center;
    }
}



@media screen and (max-width: 320px) {
    body {
        width: 320px;
    }

    .main-header, .logo-container {
        max-width: 320px;
        width: 100%;
    }
}